# 1. Import Pandas

---
# 2. Import the Titanic dataset (titanic.csv) and show its 15 first rows
__Note:__ Make sure you provide the right path to the file.

---
# 3. Calculate the average (mean) age of the passengers

---
# 4. Print the maximum Fare paid by a passenger

---
# 5. Create a new column called `%Fare` following the next steps

We want to calculate the percentage of the total fare, that was paid by each passenger. To do that:
* __Step 1.__ Calculate the sum of the `Fare` column
* __Step 2.__ Divide the `Fare` column with the value from __step 1__, and multiply it by __100__
* __Step 3.__ Store the result in a new column

__Note:__ You are free to choose whether to perform all the steps in 1 line of code, or spread it out in several lines

### 5.1 Validate that your resulted calculations are right

Perform the operations manually for 1 sample, just to be sure your approach was correct.

---
# 6. Set the `PassengerId` column as an Index to the DataFrame
__Note:__ Make sure to propagete the change into the dataframe.

### 6.1 Print the Index of the DataFrame

---
# 7. Move the `Name`, `Sex` and `Age` columns at the beginning
The new column order should be: `Name, Sex, Age, Survival, Pclass, SibSp, Parch, Ticket, Fare, Cabin, Embarked`

__Note:__ Make sure to propagete the change into the dataframe.

---
# 8. Reset the DataFrame Index to the original one

---
# 9. Delete the `%Fare` column